<script>
    if (document.cookie == "") {
        document.cookie = "stylesheet=1"
    } else if (document.cookie == "stylesheet=1") {
        document.getElementById('stylesheet').setAttribute('href', '/css/style.css');
    } else {
        document.getElementById('stylesheet').setAttribute('href', '/css/style2.css');
    }
    
    function expandAccessibility() {
        if (document.getElementById("accessibility-dropdown").style.top === "0px") {
            document.getElementById("accessibility-dropdown").style.top = "-47px";
        } else {
            document.getElementById("accessibility-dropdown").style.top = "0px";
        }
    }
    
    
    function changecss() {
        if (document.cookie == "stylesheet=1") {
            document.getElementById('stylesheet').setAttribute('href', '/css/style2.css');
            document.cookie = "stylesheet=2"
        }
        else {
            document.getElementById('stylesheet').setAttribute('href', '/css/style.css');
            document.cookie = "stylesheet=1"
        }
    }
    
    // Funções para aumentar e diminuir a fonte do site
    var cssVariables = document.querySelector(":root");
    
    function increaseFontSize() {
        let stringTextSize = getComputedStyle(cssVariables).getPropertyValue("--font-regular-size");
        let textSize = Number(stringTextSize.substring(0, stringTextSize.indexOf("px")));
        let newTextSize = (textSize + 0.1).toString() + "px";
        cssVariables.style.setProperty("--font-regular-size", newTextSize);
    }
    
    function decreaseFontSize() {
        let stringTextSize = getComputedStyle(cssVariables).getPropertyValue("--font-regular-size");
        let textSize = Number(stringTextSize.substring(0, stringTextSize.indexOf("px")));
        let newTextSize = (textSize - 0.1).toString() + "px";
        cssVariables.style.setProperty("--font-regular-size", newTextSize);
    }
</script>

<div id="accessibility-dropdown" class="accessibility-dropdown">
    <div class="accessibility-menu">
        <div class="accessibility-buttons">
            <button class="accessibility-button-changefont" onclick="decreaseFontSize()">A-</button>
            <button class="accessibility-button-changecontrast" onclick="changecss()"><img src="/assets/images/contrast.png"
                    alt="Botão para alternar o modo de contraste" width="100%" /></button>
            <button class="accessibility-button-changefont" onclick="increaseFontSize()">A+</button>
        </div>
        <div class="accessibility-button-dropdown" onclick="expandAccessibility()">
            <img src="/assets/images/Ic_arrow_drop_down.png" alt="" width="50px" class="accessibility-image-arrow" />
        </div>
    </div>
</div>