<!-- views/partials/navbar.ejs -->
<header class="header_main">
    <div class="header_top">
        <div class="container header_container">
            <div class="header_intro">
                <a class="header_logo" href="home">
                    PlaylistShare
                </a>
                <p class="header_version"> Versão 0.2</p>
            </div>

            <button onclick="changecss()"></button>
            <div class="header_menu">
                <% if(!user) { %>
                    <a class="header_menu_item" href="login">
                        Login
                    </a>
                <% } else {%>
                    <a class="header_menu_item" href="cadastroPlaylist">
                        Playlistar
                    </a>
                    <a class="header_menu_item" href="logout">
                        Sair
                    </a>
                <% }%>
                <a class="header_menu_item" href="conta">
                    Conta
                </a>
                <a class="header_menu_item" href="favoritos">
                    Favoritos
                </a>
            </div>
        </div>
    </div>

    <script>
        if(document.cookie == "") {
            document.cookie="stylesheet=1"
            console.log(document.cookie);
        } else if(document.cookie=="stylesheet=1"){
            document.getElementById('stylesheet').setAttribute('href', '/css/style.css');
            console.log(document.cookie);
        } else {
            document.getElementById('stylesheet').setAttribute('href', '/css/style2.css');
            console.log(document.cookie);
        }
        
        function changecss() {
            if(document.cookie == "stylesheet=1") {
                document.getElementById('stylesheet').setAttribute('href', '/css/style2.css');
                document.cookie="stylesheet=2"
            }
            else {
                document.getElementById('stylesheet').setAttribute('href', '/css/style.css');
                document.cookie="stylesheet=1"
            }
        }
    </script>
</header>