@import url("./main.css");

.cadastro-box {
    width: 600px;
    padding: 2rem;
    color: var(--main-white-text-color);
    border-radius: 1rem;
    background-color: var(--main-primary-bg-color);
    box-shadow: 0 0 1rem var(--main-primary-color);
}