@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-primary-color: #535353;
    --main-header-color: #121212;
    --main-primary-bg-color: #141418d3;
    --main-secondary-bg-color: #535353;
    --main-white-text-color: #e9e9e9;
    --main-black-text-color: #121212;
    --main-blue-color: #4894f7;

    /* --main-primary-color: #009e73;
    --main-header-color: #009e73;
    --main-primary-bg-color: #0072b2;
    --main-secondary-bg-color: #535353;
    --main-white-text-color: white;
    --main-black-text-color: #0072b2;
    --main-blue-color: white; */
}

body {
    background-color: var(--main-secondary-bg-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--main-header-color);
}

main {
    margin-top: 120px;
}

a {
    text-decoration: none;
    background-color: transparent
}

h1 {
    color: var(--main-white-text-color);
    font-size: 50px;
    padding: 10px;
}

h2 {
    font-size: 30px;
    color: var(--main-white-text-color);
}

h3 {
    font-size: 20px;
    color: var(--main-white-text-color);
}

.bg-red {
    background-color: red;
}

.fs-5 {
    font-size: 1.25rem;
}

.fs-6 {
    font-size: 1rem;
}

.w-100 {
    box-sizing: border-box;
    width: 100%;
}

.w-50 {
    box-sizing: border-box;
    width: 50%;
}

.w-40 {
    box-sizing: border-box;
    width: 40%;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.m-auto {
    margin: auto;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.d-inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-justify-around {
    display: flex;
    justify-content: space-around;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
}

.primary-btn {
    color: var(--main-white-text-color);
    background-color: var(--main-primary-color);
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
}

.primary-btn:hover {
    opacity: 0.60;
    cursor: pointer;
}

.text-input {
    background-color: var(--main-white-text-color);
    border: 0.2rem solid var(--main-primary-color);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.wrapper {
    background-color: var(--main-secondary-bg-color);
    white-space: nowrap;
}

.header_main {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: var(--main-header-color);
}

.container {
    width: 100%;
    margin-left: 10px;
    padding: 8px;
}

.header_container {
    position: relative;
    display: flex;
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header_top {
    position: relative;
    z-index: 2;
    background: var(--main-header-color);
}

.header_intro {
    margin-top: 10px;;
    margin-left: 10px;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    align-items: center;
    font-weight: 900;
    color: var(--main-blue-color);
}

.header_logo:hover {
    opacity: 0.5
}

.header_version {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 20px;
    color: #b3b3b3;
    align-items: center;
    font-size: 15px;
    
}

.header_version::before {
    width: 4px;
    height: 4px;
    margin-right: 4px;
    content: '';
    border-radius: 60%;
    background: #b3b3b3;
}

.header_menu {
    margin-right:50px;
    margin-left:50px;
}

.header_menu_item {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    color: var(--main-blue-color);
}

.header_menu_item:not(:first-child) {
    margin-left: 40px
}

.header_menu_item:hover {
    opacity: 0.60
}