<body class="wrapper">
    <main class="wrapper_main">
        <!-- views/partials/navbar.ejs -->
        <%- include ("../partials/navbar") %>
        <!-- views/partials/msg.ejs -->
        <%- include ("../partials/msg") %>
        
        <div class="intro">
            <h1>Encontre novas playlists abaixo!</h1>
        </div>

        <div class="search_bar">
            <input type="text" class="search_text" placeholder="Procure uma playlist...">
            <button type="submit" class=search_btn><i class="fa fa-search"></i></button>
        </div>

        <div class="section_playlists">
            <ul id = "playlist_list">
            </ul>
        </div>
    </main>
    
    <script src="/js/home.js" defer></script>
</body>
