<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Página de login do PlaylistShare" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>PlaylistShare</title>
</head>

<body>
    <div>
        <!-- views/partials/navbar.ejs -->
        <%- include ("../partials/navbar") %>

        <main class="w-100 flex-center">
            <div class="login-box">
                <h2 class="text-center w-100">Entrar</h2>
                <form action="/login_user.php">
                    <label class="fs-5">Usuário:</label>
                    <input class="text-input fs-6 w-100 my-2" />
                    <label class="fs-5">Senha:</label>
                    <input class="text-input fs-6 w-100 my-2" type="password" />
                    <input class="w-100 my-2 primary-btn fs-5" type="button" value="Entrar">
                </form>
                <div class="flex-justify-around mt-2">
                    <a href="cadastro.html">Cadastre-se!</a>
                    <a href="recuperacao.html">Esqueci minha senha</a>
                </div>
            </div>
        </main>
    </div>
</body>

</html>